@font-face {
  font-family: "HK Grotesk R";
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
    url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HK Grotesk M";
  src: url("../fonts/HKGrotesk-Medium.woff") format("woff"),
    url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HK Grotesk B";
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff"),
    url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open_Sans";
  src: url("../fonts/Open_Sans/OpenSans.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open_Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open_Sans";
  src: url("../fonts/Open_Sans/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
