*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
<<<<<<< HEAD
.h1
	font-family: "HK_Grotesk", sans-serif
	font-style: normal
	font-weight: 700
	font-size: 56px
	line-height: 68px
	letter-spacing: 0.2px
=======
		
.container
	margin: 0 auto
	padding: 0
	max-width: 1140px
	width: 100%
	background: #FFFFFF
.h1
	font-family: Open_Sans
	font-style: normal
	font-weight: bold
	font-size: 18px
	line-height: 25px
>>>>>>> a79805014f5badc127e16d15a387912a1737a7da
	color: #183B56
