*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
body
	font-family: "Open_Sans"

.container
	margin: 0 auto
	padding: 0
	max-width: 1280px
	width: 100%
	background: #FFFFFF
.title
	font-feature-settings: "locl" 0
	font-family: "HK Grotesk B", sans-serif
